{
  "pager": "delta --$(~/.local/bin/background) --line-numbers",
  "diff": {
    "reverse": true
  },
  "edit": {
    "apply": true,
    "command": "nvim"
  },
  "encryption": "gpg",
  "gpg": {
    "symmetric": true,
    "args": ["--quiet"]
  },
  "secret": {
    "command": "security",
    "args": ["find-generic-password", "-w"]
  },
  "env": {
    "GITHUB_USER": "twio142",
    "GITHUB_EMAIL": "64556708+twio142@users.noreply.github.com",
    "GIT_USER_SIGNINGKEY": "44703707F9B90BDE"
  },
  "textconv": [
    {
      "pattern": "**/*.plist",
      "command": "plutil",
      "args": ["-convert", "xml1", "-o", "-", "-"]
    }
  ]
}
