{
  "env": {
    "XDG_CACHE_HOME": "~/.cache",
    "XDG_CONFIG_HOME": "~/.config",
    "XDG_DATA_HOME": "~/.local/share",
    "XDG_STATE_HOME": "~/.local/state",
    "ZDOTDIR": "~/.config/zsh"
  },
  "pager": "delta --file-style=omit --line-numbers",
  "diff": {
    "reverse": true
  },
  "edit": {
    "apply": true
  }
}
