{
  "env": {
    "XDG_CACHE_HOME": "~/.cache",
    "XDG_CONFIG_HOME": "~/.config",
    "XDG_DATA_HOME": "~/.local/share",
    "XDG_STATE_HOME": "~/.local/state",
    "ZDOTDIR": "~/.config/zsh"
  },
  "pager": "bat --style=plain,changes --paging always --color always --tabs 2",
  "diff": {
    "reverse": true
  },
  "edit": {
    "apply": true
  }
}
