[init]
  defaultBranch = main
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[user]
  email = {{ env "GITHUB_EMAIL" }}
  name = {{ env "GITHUB_USER" }}
  signingkey = {{ env "GIT_USER_SIGNINGKEY" }}
[commit]
  gpgSign = true
[color]
  ui = true
[core]
  compression = 9
  whitespace = error
  preloadindex = true
  autocrlf = input
  quotepath = false
  excludesfile = ~/.config/git/ignore
  pager = delta --$(~/.local/bin/background)
  attributesfile = ~/.config/git/attributes
[advice]
  addEmptyPathspec = false
  pushNonFastForward = false
  statusHints = false
[status]
  branch = true
  showStash = true
[fetch]
  recurseSubmodules = true
[push]
  default = current
  followTags = true
[diff]
  tool = nvimdiff
  colorMoved = default
[difftool]
  prompt = false
[diff "plist"]
  textconv = plutil -convert xml1 -o -
[diff "zip"]
  textconv = ouch list -t -y
[diff "image"]
  textconv = exiftool -s2 -common -FileModifyDate -ColorType -Software
[diff "pdf"]
  textconv = "f() { pdftotext -layout \"$1\" -; }; f"
[interactive]
  diffFilter = delta --$(~/.local/bin/background) --color-only --features=interactive
[delta]
  navigate = true
  features = decorations unobtrusive-line-numbers
  tabs = 2
  hyperlinks = true
[delta "interactive"]
  keep-plus-minus-markers = false
[delta "unobtrusive-line-numbers"]
  line-numbers = true
[delta "decorations"]
  commit-decoration-style = ol
  commit-style = raw
  file-decoration-style = ol
  hunk-header-style = syntax ul
  hunk-header-decoration-style = omit
[merge]
  tool = diffview
  conflictStyle = diff3
  ff = false
[mergetool "diffview"]
  cmd = ~/.config/lazygit/edit.sh -c DiffviewOpen
[pull]
  default = current
  rebase = true
[rebase]
  autoStash = true
[branch]
  sort = -committerdate
[tag]
  sort = -taggerdate
[gitflow "branch"]
  master = main
  develop = develop
[gitflow "prefix"]
  feature = feature/
  release = release/
  hotfix = hotfix/
  support = support/
  versiontag = v
[gc]
  reflogExpire = 60.days
