{
  "picBed": {
    "uploader": "imgur",
    "current": "imgur",
    "imgur": {
      "clientId": "75b397ca68fc6e1",
      "proxy": ""
    },
    "transformer": "path"
  },
  "picgoPlugins": {
    "picgo-plugin-autocopy": true,
    "picgo-plugin-rename-file": true
  },
  "picgo-plugin-autocopy": {
    "template": "URL"
  },
  "picgo-plugin-rename-file": {
    "format": "IMG_{hash}"
  }
}
